
{{ if .Lastmod }}
<span>Last Updated: {{ .Lastmod.Format "2006-01-02" }}</span>
{{else}}
<span>Last Updated: {{ .Date.Format "2006-01-02" }}</span>
{{end}}

{{ if .Params.author }}
Author: &nbsp; <a href="{{ .Params.author_url }}" > {{ .Params.author }} </a>&nbsp;&nbsp;
{{end}}

{{ if .Site.Params.showWordCounter }}<span><i class="iconfont icon-file-tray-sharp"></i>&nbsp;{{ i18n "postMetaWordCount" .WordCount}}</span>{{ end }}

{{ if .Site.Params.showReadTime }}<span><i class="iconfont icon-time-sharp"></i>&nbsp;{{ i18n "postMetaReadingTime" .ReadingTime }}</span>{{ end }}

<span><i class="iconfont icon-pricetags-sharp"></i>
	{{ if .Params.tags }}
		{{ range first 1 .Params.tags }}&nbsp;<a href="{{ "tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
		{{ range after 1 .Params.tags }}&nbsp;|&nbsp;<a href="{{ "tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
	{{ end }}
</span>

